html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.bg-pink {
    background-color: #ff69b4 !important; /* hot pink */
    color: white !important;
}


/*this makes the client side anchor to remove the default blue line as hyperlink*/
a {
    text-decoration: none;
    color: inherit;
}

/*This is the CSS for the image preview container*/
#imagePreviewContainer img {
    border-radius: 6px;
    object-fit: cover;
}


/*LOGIN*/
.login-btn {
    background-color: #E76E51;
    border: none;
    color: white;
    transition: background-color 0.25s ease;
}

    .login-btn:hover {
        background-color: #D95D41; /* Slightly darker */
        color: white;
    }

    .login-btn:focus,
    .login-btn:active {
        background-color: #C95237;
        color: white;
        box-shadow: none;
    }

/*login validation*/

.input-error {
    border: 2px solid #dc3545 !important;
    box-shadow: none !important;
}

    .input-error::placeholder {
        color: #dc3545;
        font-weight: 500;
    }

.input-group:focus-within .input-group-text {
    border-color: #E76E51;
}

.form-control:focus {
    box-shadow: none;
    border-color: #E76E51;
}



/*register*/


.step-circle {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: white;
    font-weight: 600;
}

.step-circle.active {
    background: #E76E51;
    color: white;
    border: none;
}

.step-line {
    height: 2px;
    background: #ddd;
    flex: 1;
    margin: 0 8px;
    margin-top: -22px;
}

